---
layout: default
title: SF Bay Area Resistance
---
<div class="container">
  <h1>San Francisco Bay Area Resistance</h1>
  <h2>
    Welcome to the Resistance!
  </h2>
  <p>
    If you're new to the game, please check out these <a href="/help/">links for new players.</a>
  </p>
  <p>
    This page serves as a directory and gateway to the various Bay Area Resistance communities.  These
    communities are private, so you'll need to request an invite to join.  The individual communities
    are responsible for managing the invitation and vetting process.
  </p>

  <h2>List of SF Bay Area Resistance Communities</h2>
  <ul>{% for community in site.data.communities %}
    <li><a href="{{ community.url }}">{{ community.name }}</a></li>{% endfor %}
  </ul>
  <p>(<a href="https://plus.google.com/113622914447638190429/posts/3qFBbLSfhnP">original source</a>)</p>

  <h2>Other Methods of Contact</h2>
  <p>
    If you need help and are unable to connect with us through one of the above communities, try reaching
    out on Faction COMM, although you should be aware that Faction COMM is considered to be insecure and
    no sensitive information will or should be shared there.
  </p>
  <p>
    Several of our community coordinators have contact email addresses for players who prefer to connect
    via email:
    <ul>{% for contact in site.data.contacts %}
      <li><a href="mailto:{{ contact.email }}">{{ contact.agent }}</a> ({{ contact.area }})</li>{% endfor %}
    <ul>
  </p>
</div>
