---
layout: default
title: San Francisco Bay Area Resistance
header: San Francisco Bay Area Resistance
---
  <h4>
    Welcome to the Resistance!
  </h4>
  <p>
    If you're new to the game, please check out these <a href="/help/">links for new players.</a>
  </p>

  <h4>List of SF Bay Area Resistance Communities</h4>
  <p>
    This page serves as a directory and gateway to the various Bay Area Resistance communities.  These
    communities are private, so you'll need to request an invite to join.  The individual communities
    are responsible for managing the invitation and vetting process.
  </p>
  <ul>{% for community in site.data.communities %}
    <li><a href="{{ community.url }}">{{ community.name }}</a></li>{% endfor %}
  </ul>

  <h4>Other Methods of Contact</h4>
  <p>
    If you need help and are unable to connect with us through one of the above communities, try reaching
    out on Faction COMM.  You should be aware that Faction COMM is considered to be insecure and no sensitive
    information will or should be shared there.
  </p>
  <p>
    Several of our community coordinators have contact email addresses for players who prefer to connect
    via email.
    <ul>{% for contact in site.data.contacts %}
      <li><a href="mailto:{{ contact.email }}">{{ contact.agent }}</a> ({{ contact.area }}) {% if contact.form != nil %} <a href="{{contact.form}}">Sign-up form</a>{% endif %}</li>{% endfor %}
    </ul>
  </p>
  <p>
    We also have <a href="https://www.facebook.com/sfeastbay.ingressresistance">a contact account</a> on Facebook
    if you would prefer to message us that way.
  </p>

  <h4>About this site</h4>
  <p>
    This site is run by the Bay Area Resistance player communities and is not officially affiliated  with
    Ingress or Niantic Labs at Google.
  </p>
  <p>
    Please <a href="https://github.com/balshor/sfbay.resists.org/issues/new">file an issue</a> if you have any questions or feedback about this website.
  </p>
