<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/sfbay.css">
</head>
<body>
  <div class="container">
{% if page.header != blank %}
    <div class="page-header">
      <h1>{{ page.header }}</h1>
    </div>
{% endif %}
{% if page.url contains '-new.html' %}  
  <p><em>This is the development version of this page and may contain inaccurate information.  Please see <a href="{{ page.url | remove: '-new' }}">the production version</a> instead.</em></p>
{% endif %}
{{ content }}
  </div>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>
</html>
